<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>make URL shorter</title>
    <link rel="shortcut icon" href="favicon.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="style2.css">

</head>

<body >
    <div id="wrap">
        <br><br>
        <div class="container">
            <div id="box">
                <div class="">
                    <h1>Url Shortner
                    </h1>
                    <span id="output"><%- msg %> </span>  <span id="copy-icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QA/wD/AP+gvaeTAAAAtElEQVQ4je3UPQ5BQRSG4cdPoiDR+1kHWp0FsBBLsAAb0bMFK9FSKN1Q3Cu5yDCDjjeZzGTmnC/nS84cvkyldO5igFpC/ir00MUB58T1QL3YB2hjiW1ChUHBq82tJzZiqAbu5ziKs33CGo1yhfcssC8CX9HDBGNsQoLNQmwWITjFCC3Clt/mL/gLgtc+XLmdPB8L3pOhL2/aVwxLOUHW0sbYHh3CNhvyv9mKqDCTT6ldRGw6F9ALNYw7J2X9AAAAAElFTkSuQmCC"/></span>
                    <div id="link">
                        <input id="uri" type="search" placeholder="https://..." >
                    </div>
                    <div id="slug">
                        <input id="slg" type="search" placeholder="slug (optional)">
                    </div>
                    <button type="button" id="btn-gl" > short it!</button>
                    <script type="text/javascript" type="script" src="script.js" ></script>
                </div>
            </div>
        </div>
    </div>


    <div id="footer text-center">
        <div class="container text-muted">
            made by <a href="http://github.com/sutharp777" target="_blank">@sutharp777</a>

            <a class="bott pull-right">
                uses
                <img class="icon" src="mongodb.png" alt="mongodb icon" >
                <!-- <img class="icon" src="express.png" alt="express icon" > -->
                <img class="icon" src="nodejs.png" alt="nodejs icon" >
                and hosted on 
                <img class="icon" src="heroku.png" alt="heroku icon" >

            </a>
        </div>
    </div>

    <!-- MODAL -->

</body>

</html>